body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    background-color: #fff;
}

.weather-card-sunny {
    background-color: #ffeb3b;
    text-align: center;
}

.weather-card-rainy {
    background-color: #2196f3;
    text-align: center;
    width: 460px;
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 10px3w;

}


.weather-card-cloudy {
    background-color: #9e9e9e;
    text-align: center;
}

.weather-card-stormy {
    background-color: #0f0e0d;
    color: white;
    text-align: center;
}